@{
    ViewBag.Title = "Home Page";
}


<h2>@ViewBag.Title</h2>
<div class="product-info">
    <img src="~/img/VanGogh.jpg" />
    <h3>
        Van Gogh
    </h3>
    <ul class="product-list">
        <li>Item: Mug</li>
        <li>Price: 9.99$</li>
        <li>Commets:</li>
        <li>Description: Autoportret</li>
    </ul>
    <button id="buyButton">Buy</button>
</div>

<div id="theForm">
    <form>
        <label>Your Name:</label>
        <br />
        <input />
        <br />
        <label>Email:</label>
        <br />
        <input type="email" />
        <br />
        <label>Subject:</label>
        <br />
        <input type="text" />
        <br />
        <label>Message:</label>
        <br />
        <textarea rows="4"></textarea>
        <br />
        <input type="submit" value="Send Message" />
    </form>
</div>

<div>
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>UserName:</label>
            <input />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" />
        </div>
        <div>
            <input type="checkbox" />
            <label>Remeber me?</label>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>
